@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Dancing Script';
  src: url('./assets/fonts/dancing-script-all-600-normal.woff');
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter-all-500-normal.woff');
}
@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/lora-all-400-italic.woff');
}
